#root {
  width:75%;
  padding:5px;
  margin-top:3%;
  margin-bottom:3%;
  background-color:#CEE5E4;
}

hr {
  border: "#8f9cc6" solid 2px;
}

div {
  padding: 5px;
  margin: auto;
}

header {
  font-size:75px;
  padding-top: 5px;
}

img {
  float:right;
}

p {
  background-color:#0e4870; 
  padding:10px; 
  color:#d8bdd9;
}

a {
  text-decoration: none;
  color: #8f9cc6;
}

ul{
  list-style: none;
  padding-left:10px;
}

td {
  padding:5px;
}

