#root {
  width:75%;
  padding:5px;
  margin-top:3%;
  margin-bottom:3%;
}

body{
  background-image:url("./assets/background.png");
}

hr {
  border: "#8f9cc6" solid 2px;
}

div {
  padding: 5px;
  margin: auto;
}

header {
  font-size:75px;
  padding-top: 5px;
}

img {
  float:right;
}

a {
  text-decoration: none;
  color: #8f9cc6;
}

ul{
  list-style: none;
  padding-left:10px;
}

td {
  padding:5px;
}

button {
  background-color: #98ABC8;
  border: none;
  color: #EDE2EE;
  text-decoration: none;
  margin-top:7%;
  display:inline-block;
  font-size:20px;
}